.photo_container {
  /* padding-bottom: 1rem; */
  /* padding: 2rem 0 1rem 1rem; */
  margin-top: 2rem;
  margin-bottom: 1.25rem;
  margin-left: 1rem;
  position: relative;
  width: 220px;
  height: 220px;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
  margin-bottom: 2rem;
  font-size: var(--body-font-size);
}

.profile_image_container {
  /* padding-bottom: 1rem; */
  padding: 2rem 0 1rem 2rem;
  border-radius: 50%;
}

.profile_image {
  border-radius: 150px;
  overflow: hidden;
}

.header {
  text-align: left;
  align-content: left;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: var(--title-font-size);
  font-weight: 900;
  margin-bottom: 1rem;
}

.title {
  text-align: left;
}

.description {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
