.nav_container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2rem;
  margin-bottom: 2rem;
  font-size: var(--body-font-size);
}

.nav_link {
  padding: 8px;
  border-radius: var(--border-radius);
}
