.grid {
  display: grid;
  grid-template: auto / 1fr;
  gap: 40px;
  margin-top: var(--gutter);
  margin-bottom: var(--gutter);
  justify-content: center;
  align-items: center;
}

@media (max-width: 600px) {
  .grid {
    display: grid;
    grid-template: auto / 1fr;
    gap: 40px;
  }
}
